body {
margin:0;
background-image:url("/images/login.jpg");
background-size:cover;
font-size:20px;
font-family:Times New Roman;
}
.login{
margin:300px auto;
padding:50px 50px 50px;
position:relative;
}
.signup{
color:black;}