<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org.com"
      xml:lang="en" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Adding Time Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/797d5c5969.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>
</head>
<body>

<div th:replace="dashboard :: nav"></div>


<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <h1 th:text="${movieRepertoire.name}"> The name of the movie</h1>
                <form th:action="@{${repertoire.id != null ? '/movies/user/{movieName}/updateRepertoire' : '/movies/user/newRepertoire'}}" th:object="${repertoire}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="date" class="col-form-label">date and time</label>
                            <input type="datetime-local" th:field="*{date}" class="form-control" id="date" value="2021-01-20T13:01">
                            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" th:value="${repertoire.id != null ? 'Save' : 'Add'}">
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                    <input th:type="hidden" name="movieRepertoire.id" th:value="${movieRepertoire.id}">
                    <input th:type="hidden" name="repertoire.id" th:value="${repertoire.id}">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>